<style>
    .btmspace-50 {
        margin-bottom: 0px;
    }

    h3 {
        text-align: left;
    }
</style>
@{
    ViewData["Title"] = "Rec urednika";
}

<div class="bgded overlay" style="background-image:url(''); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3>РЕЧ УРЕДНИКА</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<main>
    <div class="group btmspace-50 demo" style="background-color:white;">
        <div class="one_half" style="color: #5c0909!important; margin-left:28%!important">
            <p id="deoTeksta">
                Поштовани,
            </p>
            <p id="deoTeksta">
                Образовни информатор, едукативна кућа која преко 30 година сарађује са јавним сектором, увидео је реалне потребе јавних предузећа за едукацијом, што је резултирало нашим специјализованим часописом.
            </p>
            <p id="deoTeksta">
                Пред вама је број 32 часописа Информатор јавних предузећа, јединог специјализованог издања на нашим просторима који препознаје специфичности пословања, организацију рада, извор и начин финансирања јавних предузећа и пружа им ослонац и подршку у правно-економском пословању.
            </p>
            <p id="deoTeksta">
                У сталним рубрикама овог часописа, наши аутори са богатим знањем и искуством обрађују све актуелне теме из области <i>Радних односа, Зарада, Јавних набавки, Имовинских односа, Финансија, Рачуноводства, Пореза, Статистике</i>.
            </p>
            <p id="deoTeksta">
                Од броја 10 часописа увели смо нову рубрику <i>Из извештаја Државне ревизорске институције</i> где ћемо износити одређене делове текста из извештаја државне ревизије код јавних предузећа, указивати на најчешће неправилности у раду и предлагати конкретна решења за превазилажење истих.
            </p>
            <p id="deoTeksta">
                У часопису објављујемо и најбитнија мишљења министарстава и ставове судске праксе који могу утицати на решавања дилема и бројних спорних питања из пословања јавних предузећа.
            </p>
            <p id="deoTeksta">
                У сталној рубрици Прописи објављујемо донете прописе између два броја, као и оне који су у скупштинској процедури и припреми.
            </p>
            <p id="deoTeksta">
                Све наведено представља свеобухватну подршку успешном пословању јавних предузећа.
            </p>
            @*<p id="deoTeksta">
                Наведено представља свеобухватну подршку успешном пословању јавних предузећа.
            </p>*@
            <p id="deoTeksta">
                Поред часописа који се бави актуелним темама, а у складу са савременим пословањем, за јавна предузећа организујемо, вебинаре, семинаре, радионице и саветовања, као и консалтинг у нашем или вашем просторијама или онлајн, преко ZOOM платформе у интерактивном окружењу, што значи да учесници могу активно да учествују у решавању конкретних дилема и износе своја искуства.
            </p>
            <p id="deoTeksta">
                У циљу даље успешне сарадње очекујемо ваша питања, сугестије, коментаре и идеје које могу утицати на креирање наших издања и у 2023. години.
            </p>
            <p style="text-align:right; font-family:Calibri; font-weight:bold; font-style:italic;" id="deoTeksta"><b><i>Редакција</i></b></p>
            <br />
            <br />
            @*<p id="deoTeksta">
            ® РОКОВНИК ЗА ЈАВНА ПРЕДУЗЕЋА<br />

        <p id="deoTeksta">
            Поштовани корисници и пословни партнери, Информатор јавних предузећа вам нуди <b>персонализоване роковнике са логом ваше фирме</b> према вашим потребама.
        </p>
        <br />
        <img src="images/demo/rokovnik.jpg" alt="">
        <br />
        <p id="deoTeksta">
            Роковник (планер) за јавна предузећа <b>са прегледом рокова и обавеза значај-ним за пословање јавних предузећа, важним телефонима,</b> као и телефонима <b>министарстава Републике Србије</b> на <b>200 листа</b>.
        </p>
        <p id="deoTeksta">
            Роковнике можете поручитити у тиражу од једног комада до тиража који је вама потребан.
        </p>
        <p id="deoTeksta">
            Такође, сами можете бирати корице из палете коју вам нудимо и на тај начин имати сасвим персонализован артикал за ваше предузеће.
        </p>
        <p id="deoTeksta">
            Роковнике можете преузети у нашим просторијама у улици Цара Лазара број 5а у Београду и том приликом се упознати са нашим ауторима који свакодневно раде на часописима или вам их можемо послати поштом на вашу адресу.
        </p>
        <p id="deoTeksta">
            Јединствени производ на тржишту, намењен успешном планирању, за руководство јавних предузећа у издању Образовног информатора можете поручити по повлашћеној цени од <b>1.500,00</b> динара са урачунатим <b>ПДВ-ом.</b>
        </p>
        <p id="deoTeksta">
            Јавна и комунална предузећа која желе да набаве роковник за своје запослене и желе да се претплате на стручно издање <b>„Информатор јавних предузећа”</b> стичу право на попуст <b>од 10% на набавку роковника.</b>
        </p>
        <p id="deoTeksta">
            Ово је добра прилика да у 2022. годину уђете уз подршку стручног тима <b>„Информатора јавних предузећа”</b> као сигурне куће у <u>правно-економском консалтингу</u> и прибавите веома користан и лепо дизајниран роковник.
        </p>
        <p id="deoTeksta">
            За поручивање можетe нас контактирати путем телефона службе маркетинга и продаје:
        </p>
        <p id="deoTeksta">
            <i>063/688-574;</i><br />
            <i>063/268-187;</i><br />
            <i>063/688-340</i><br />
            или на мејл javnapreduzeca@obrazovni.rs.
        </p>*@
        </div>
    </div>
</main>
