<style>
    .btmspace-50 {
        margin-bottom: 0px;
    }
</style>
@{
    ViewData["Title"] = "Rec urednika";
}

<div class="bgded overlay" style="background-image:url(''); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">РЕЧ УРЕДНИКА</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<main>
    <div class="group btmspace-50 demo" style="background-color:white;">
        <div class="one_half first">
            <img style="width: 282px; height:400px; margin-left: 40%;" src="~/images/demo/autoriSlike/SlikaJovanaJ.jpg">
            <p style="margin-left: 40%;"><i>Јована Јанковић</i></p>
            <p style="margin-left: 40%;"><i>Главни уредник часописа „Информатор јавних предузећа“</i></p>
        </div>
        <div class="one_half" style="color: #5c0909!important; margin-left:1%!important">
            <p id="deoTeksta">
                Јавни сектор је сервис свих грађана једне земље, самим тим кроз његов константни развој
                можемо очекивати уређенији и бољи живот у нашој држави.
            </p>
            <p id="deoTeksta">
                Најважније је да будемо увек на услузи сваком појединцу, како бисмо постали организовано и
                напредно друштво.
            </p>
            <p id="deoTeksta">Часопис „Информатор јавних предузећа“ је управо креиран из тих разлога, да буде информативни подсетник и едукативни ослонац у раду јавних предузећа Србије.</p>
            <p id="deoTeksta">
                Кроз стручне публикације, организовање консултација, семинара и вебинара, наша кућа
                Образовни информатор, планира да постане главни партнер у пословању свих јавних предузећа.
            </p>
            <p id="deoTeksta">
                Ослушкујемо потребе, пратимо прописе, новине и ангажујемо највеће стручњаке са дугогодишњим искуством у јавним предузећима за које смо сигурни да ће решити све правно-економске
                недоумице.
            </p>
            <p id="deoTeksta">
                Кроз сталне рубрике нашег часописа <b>
                    обрадићемо теме из области радних односа, зарада, јавних
                    набавки, имовинских односа, финансија, рачуноводства, пореза, статистике.
                </b>
            </p>
            <p id="deoTeksta">
                Поред стручних текстова наших аутора, читаоци ће имати прилике да читају интервју са неким
                од представника јавних предузећа и примере из судске праксе, као и мишљења министарстава.
            </p>
            <p id="deoTeksta">
                Такође, једна од сталих рубрика биће и рубрика прописи која ће садржати новодонете прописе
                од значаја за пословање јавних предузећа, прописе у скупштинској процедури, као и прописе у
                припреми.
            </p>
            <p id="deoTeksta">
                Наша фирма постоји три деценије, довољно смо сазрели да смо на почетку једног великог
                пројекта од националног значаја.
            </p>
            <p id="deoTeksta">Зато будите сигурни да сте одабрали правог пословног партнера.</p>
        </div>
    </div>






</main>
