<style>
    .btmspace-50 {
        margin-bottom: 0px;
    }

    h3 {
        text-align: left;
    }
</style>
@{
    ViewData["Title"] = "Rec urednika";
}

<div class="bgded overlay" style="background-image:url(''); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3>РЕЧ УРЕДНИКА</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<main>
    <div class="group btmspace-50 demo" style="background-color:white;">
        @*<div class="one_half first">
            <img style="width: 282px; height:400px; margin-left: 40%;" src="~/images/demo/autoriSlike/SlikaJovanaJ.jpg">
            <p style="margin-left: 40%;"><i>Јована Јанковић</i></p>
            <p style="margin-left: 40%;"><i>Главни уредник часописа „Информатор јавних предузећа“</i></p>
        </div>*@
        <div class="one_half" style="color: #5c0909!important; margin-left:28%!important">
            <p id="deoTeksta">
                Поштовани,
            </p>
            <p id="deoTeksta">
                Образовни информатор, едукативна кућа која преко 30 година сарађује са јавним сектором, увидео је реалне потребе јавних предузећа за едукацијом, што је резултирало нашим специјализованим часописом.
            </p>
            <p id="deoTeksta">Пред вама је број 6. часописа Информатор јавних предузећа, јединог специјализованог  издања на нашим просторима који препознаје специфичности пословања, организацију рада, извор и начин финансирања јавних предузећа и пружа им ослонац и подршку у правно-економском пословању.</p>
            <p id="deoTeksta">
                У сталним рубрикама овог часописа, наши аутори са богатим знањем и искуством обрађују све актуелне теме из области Радних односа, Зарада, Јавних набавки, Имовинских односа, Финансија, Рачуноводства, Пореза, Статистике.
            </p>
            <p id="deoTeksta">
                У часопису објављујемо и најбитнија мишљења министарстава и  ставове судске праксе који могу утицати на решавања дилема и бројних спорних питања из пословања јавних предузећа.
            </p>
            <p id="deoTeksta">
                У сталној  рубрици Прописи објављујемо донете прописе између два броја, као и оне који су у скупштинској процедури и припреми.
            </p>
            <p id="deoTeksta">
                Наведено представља свеобухватну подршку успешном пословању јавних предузећа.
            </p>
            <p id="deoTeksta">
                Поред часописа који се бави актуелним темама, а у складу са савременим пословањем, за јавна предузећа организујемо, вебинаре, семинаре, радионице и саветовања, као и консалтинг у нашим или вашим просторијама или онлајн, преко ZOOM платформе у интерактивном окружењу, што значи да учесници могу активно да учествују у решавању конкретних дилема и износе своја искуства.
            </p>
            <p id="deoTeksta">
                У циљу даље успешне сарадње стојимо на располагању за ваша питања, сугестије, коментаре и идеје које могу утицати на креирање наредних издања.
            </p>
            <p style="text-align:right; font-family:Calibri; font-weight:bold; font-style:italic;" id="deoTeksta">Редакција</p>
        </div>
    </div>
</main>
