<style>
    .pb-3 {
        background-color: aliceblue;
    }

    .img-container {
        text-align: center;
        display: block;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 5px;
    }
    /* Create three equal columns that sits next to each other */
    .columnLink {
        flex: 33.3%;
        padding: 5px;
    }
</style>

<div class="bgded overlay" style="background-color: #560909c2 ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">СЕМИНАРИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<br />
<br />
<h1 style="position: relative; left: 700px;">ТРЕНУТНО НЕМА ОРГАНИЗОВАНИХ СЕМИНАРА </h1>
<section id="services" class="hoc container clear">
    <br />
    <br />
@*     <div class="column">
        <span class="img-container">
    <img src="~/images/demo/Seminari/baner-javne-nabavke-obuka-01.png" style="display: block; margin-left: auto; margin-right: auto;" alt="Baner" /><br />
    </span>
        <div class="row">
            <div class="columnLink" style="margin-left: 400px;"> *@
    @*<a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 400px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-202714">ДЕТАЉНИЈЕ</a>*@
    <!--<a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 10px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/AGENDA-RADIONICA-JN.pdf">АГЕНДА</a>
                <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_radionica_obuka_jn_maj_2023.pdf">ПРИЈАВА</a>
            </div>
        </div>
    </div>-->
    <br />
    <br />
    <img src="~/images/demo/Seminari/odrzaniSeminari.jpg" alt="Odrzani seminari" style="position: relative; left: 200px;">
    <!--<br />
    <br />-->
    @*<div class="column">
        <span class="img-container">*@
    <!--<img src="~/images/demo/Seminari/baner-javne-nabavke-obuka-01.png" style="display: block; margin-left: auto; margin-right: auto;" alt="Baner" /><br />-->
    @*</span>*@
    @*<div class="row">
        <div class="columnLink" style="margin-left: 350px;">*@
    <!--<a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 400px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-202714">ДЕТАЉНИЈЕ</a>
    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 10px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/AGENDA-RADIONICA-JN.pdf">АГЕНДА</a>
    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_radionica_obuka_jn_mart_2023.pdf">ПРИЈАВА</a>-->
    @*</div>
        </div>*@
    @*</div>*@
    <!--<br />
    <br />-->
    <div class="row">
        <div class="column">
            <span class="img-container">
                <img src="~/images/demo/Seminari/Baner_seminar_8-10_maj-IJP-03.png" style="margin: 0" alt="Baner" /><br />
            </span>
            <div class="row">
                <div class="columnLink" style="margin-left: 150px;">
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: -170px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-201150-d8vfayo6vq-202702">ДЕТАЉНИЈЕ</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/ProgramSeminara0810Maj.pdf">ПРОГРАМ</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_seminar_maj-2023.pdf">ПРИЈАВА</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/USLOVI-UCESCA-Prospekt-seminar-8-10-maj.pdf">УСЛОВИ УЧЕШЋА</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="column">
            <span class="img-container">
                <img src="~/images/demo/Seminari/baner-javne-nabavke-obuka-01.png" style="display: block; margin-left: auto; margin-right: auto;" alt="Baner" /><br />
            </span>
            <div class="row">
                <div class="columnLink" style="margin-left: 400px;">
                    @*<a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 400px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-202714">ДЕТАЉНИЈЕ</a>*@
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: -200px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/AGENDA-RADIONICA-JN.pdf">АГЕНДА</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_radionica_obuka_jn_maj_2023.pdf">ПРИЈАВА</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="column">
                <span class="img-container">
                    <img src="~/images/demo/Seminari/Baner-seminar-8-10-februar.jpg" style="margin: 0" alt="Baner" /><br />
                </span>
                <div class="row">
                    <div class="columnLink">
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: -15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-201150-d8vfayo6vq-202038">ДЕТАЉНИЈЕ</a>
                        @*<a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Program_Konferencija_2022.pdf">ПРОГРАМ</a>*@
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_seminar_februar_2023.pdf">ПРИЈАВА</a>
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/USLOVI-UCESCA-Prospekt-seminar-8-10-februar.pdf">УСЛОВИ УЧЕШЋА</a>
                    </div>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="row">
            <div class="column">
                <span class="img-container">
                    <img src="~/images/demo/Seminari/BanerSeminar-9.12-01.png" style="margin: 0" alt="Baner" /><br />
                </span>
                <div class="row">
                    <div class="columnLink">
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://mailchi.mp/7f0a19beb9cc/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-201390">ДЕТАЉНИЈЕ</a>
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Program_Konferencija_2022.pdf">ПРОГРАМ</a>
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_Konferencija_2022.pdf">ПРИЈАВА</a>
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prospekt9.12-USLOVI.pdf">УСЛОВИ УЧЕШЋА</a>
                    </div>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="row">
            <div class="column">
                <span class="img-container">
                    <img src="~/images/demo/Seminari/Baner-seminar-7.11.jpg" style="margin: 0" alt="BanerPalas" /><br />
                </span>
                <div class="columnLink">
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://mailchi.mp/7f5c2e1d2949/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-201166">ДЕТАЉНИЈЕ</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/ProgramSeminara0711.pdf">ПРОГРАМ</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/PrijavaSeminara0711.pdf">ПРИЈАВА</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/UsloviUcescaProspektSeminara0711.pdf">УСЛОВИ УЧЕШЋА</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <img src="~/images/demo/Seminari/radionicaJun.png" style="display: block; margin-left: auto; margin-right: auto;" alt="radionicaJun" /><br />
    <a class="btn btn-lg" style="background-color: #560909c2;margin-left:45%;margin-top:2%;margin-bottom:2%" target="_blank" href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-199382">ПРОГРАМ</a>
    @*<span class="img-container">
            <img src="~/images/demo/Seminari/KalendarSeminaraJanuar.jpg" style="margin: 0" alt="KalendarSeminaraJanuar" /><br />
        </span>
        <a class="btn btn-lg" style="display:inline-block; background-color: #560909c2;margin-left:45%;margin-top:2%;margin-bottom:2%" target="_blank" href="https://infojp.rs/pdf/PROGRAMММ2.pdf">ПРОГРАМ</a><a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 45%; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_seminar_25.januar.pdf">ПРИЈАВА</a>*@
</section>