<style>
    .pb-3 {
        background-color: aliceblue;
    }
</style>

<div class="bgded overlay" style="background-color: #560909c2 ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">СЕМИНАРИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<br />
<br />
@*<h1>ТРЕНУТНО НЕМА ОРГАНИЗОВАНИХ СЕМИНАРА </h1>*@
<section id="services" class="hoc container clear">
    <img src="~/images/demo/Seminari/PolaganjeIspitaJavneNabavkeSlika.png" style="margin: 0" alt="PolaganjeIspitaJavneNabavkeSlika" /><br />
    <a class="btn btn-lg" style="background-color: #560909c2;margin-left:45%;margin-top:2%;margin-bottom:2%" target="_blank" href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194830">ПРОГРАМ</a>
   
</section>