<style>
    .pb-3 {
        background-color: aliceblue;
    }

    .img-container {
        text-align: center;
        display: block;
    }

    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 5px;
    }
    /* Create three equal columns that sits next to each other */
    .columnLink {
        flex: 33.3%;
        padding: 5px;
    }
</style>

<div class="bgded overlay" style="background-color: #560909c2 ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">СЕМИНАРИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<br />
<br />
@*<h1>ТРЕНУТНО НЕМА ОРГАНИЗОВАНИХ СЕМИНАРА </h1>*@
<section id="services" class="hoc container clear">
    <img src="~/images/demo/Seminari/odrzaniSeminari.jpg" alt="Odrzani vebinari" style="position: relative; left: 200px;">
    <br />
    <br />
    <div class="row">
        @*<div class="column">
                <span class="img-container">
                    <img src="~/images/demo/Seminari/BanerVrnjackabanjaMAJ.png" style="margin: 0" alt="BanerVrnjackaBanja" /><br />
                </span>
                <div class="row">
                    <div class="columnLink" style="margin-left: 350px;">
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/ProgramSeminaraVBMaj.pdf">ПРОГРАМ</a>
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_seminar_16-18.maj_Vrnjackabanja.pdf">ПРИЈАВА</a>
                        <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/USLOVI_UCESCA_Vrnjackabanja_maj.pdf">УСЛОВИ УЧЕШЋА</a>
                    </div>
                </div>
            </div>*@
        <div class="column">
            <span class="img-container">
                <img src="~/images/demo/Seminari/Baner_Moskva_fakture_1.png" style="margin: 0" alt="BanerHotelMoskva" /><br />
            </span>
            <div class="row">
                <div class="columnLink" style="margin-left:330px;">
                    <a class="btn btn-lg" style="display:inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%;margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/ProgramSeminaraHotelMoskva5722.pdf">ПРОГРАМ</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_seminar_Moskva_fakture.pdf">ПРИЈАВА</a>
                    <a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 15px; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/USLOVIUCESCASeminarMoskvaFaktureJUL.pdf">УСЛОВИ УЧЕШЋА</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <img src="~/images/demo/Seminari/radionicaJun.png" style="display: block; margin-left: auto; margin-right: auto;" alt="radionicaJun" /><br />
    <a class="btn btn-lg" style="background-color: #560909c2;margin-left:45%;margin-top:2%;margin-bottom:2%" target="_blank" href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-199382">ПРОГРАМ</a>
    @*<span class="img-container">
            <img src="~/images/demo/Seminari/KalendarSeminaraJanuar.jpg" style="margin: 0" alt="KalendarSeminaraJanuar" /><br />
        </span>
        <a class="btn btn-lg" style="display:inline-block; background-color: #560909c2;margin-left:45%;margin-top:2%;margin-bottom:2%" target="_blank" href="https://infojp.rs/pdf/PROGRAMММ2.pdf">ПРОГРАМ</a><a class="btn btn-lg" style="display: inline-block; background-color: #560909c2; margin-left: 45%; margin-top: 2%; margin-bottom: 2%" target="_blank" href="https://infojp.rs/pdf/Prijava_seminar_25.januar.pdf">ПРИЈАВА</a>*@
</section>