<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ИМОВИНСКИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="01-10-2024">01.10.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>ОДРЖАЈ И СТИЦАЊЕ ПРАВА СЛУЖБЕНОСТИ НА НЕПОКРЕТНОСТИМА У ЈАВНОЈ СВОЈИНИ</b><br />
                    </a>
                </p>
            </div>
            <p>
                У српском језику државина, држина, посед, притежање – означава физичку власт на ствари уз манифестовану вољу да се она врши у сопственом интересу.
                Стицање својине одржајем представља један од најстаријих и најзани¬мљивијих начина на који особа може постати власник неке имовине, било по¬кретне или непокретне.
                Ако је власник запоставио своју имовину и дозволио другој особи да је користи као да је њена, постоји могућност да ова друга особа, под одређеним условима, постане прави власник те имовине.
                Још је Српским грађанским закоником из 1844. године био обухваћен институт државине и права држања: „...кад једну ствар држиш, и вољу имаш задржати је за себе, и то згодним знаком означиш и покажеш, ти си држалац или притежатељ такове ствари.”
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
