<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ЗАРАДЕ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="01-06-2024">01.06.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>ОБРАЧУН, ИСПЛАТА И ПОРЕСКИ ТРЕТМАН НАКНАДА ПРОИЗАШЛИХ ИЗ РАДНИХ СПОРОВА</b><br />
                    </a>
                </p>
            </div>
            <p>
                Послодавац може запосленом да откаже уговор о раду из разлога прописаних одредбама члана 179. Закона о раду („Сл. гл. РС” бр. 24/05...  95/18 – даље: ЗОР). Чест случај је да се запослени тужбом обраћају надлежном суду пред којим се воде спорови и доказују незаконит отказ уговора о раду. У случају да запослени добије спор, мора му се надокнадити штета због изгубљене зараде. Такође, запослени и послодавац могу урадити вансудско поравнање и утврдити износ неисплаћених зарада са припадајућим порезима и доприносима. О правним последицама незаконитог отказа уговора о раду и накнади штете за изгубљену зараду, пореском третману и подношењу пореске пријаве на обрасцу ППП-ПД, у наставку.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
