<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                РАДНИ ОДНОСИ
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="06-03-2023">06.03.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>НЕКА ОТВОРЕНА ПИТАЊА ВЕЗАНА ЗА НЕПЛАЋЕНО ОДСУСТВО ЗАПОСЛЕНИХ</b>
                    </a>
                </p>
            </div>
            <p>
                Одсуство без накнаде зараде или неплаћено одсуство представља врсту одсуства током које запослени нема право на накнаду зараде, односно плате, за разлику од плаћеног одсуства где је то случај. Такође, плаћено одсуство послодавац мора одобрити запосленом онда када постоји основ за одсуство предвиђен у Закону о раду, док код неплаћеног одсуства то није случај по основу Закона о раду.
                Поводом неплаћеног одсуства у пракси постоје бројна отворена питања на која смо се потрудили да дамо одговоре уз позивање на мишљења надлежних органа.
                На крају текста налази се и модел решења о неплаћеном одсуству.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
