<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ИМОВИНСКИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="06-03-2023">06.03.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>НЕМОГУЋНОСТ ПРИНУДНОГ ИЗВРШЕЊА НА НЕПОКРЕТНОЈ ИМОВИНИ ЈАВНИХ ПРЕДУЗЕЋА</b>
                    </a>
                </p>
            </div>
            <p>
                На основу члана 55. Закона о извршењу и обезбеђењу, прописано је да су предмети извршења ствари и права извршног дужника на којима се спроводи извршење. Предмет извршења не могу бити ствари изван промета, објекти, оружје и опрема који су намењени одбрани и безбедности Републике Србије. Предмет извршења не могу бити ни непокретне ни покретне ствари које користе државни органи за обављање послова из своје надлежности.
                Предмет извршења не могу бити новчана средства и финансијски инструменти који су утврђени као средство обезбеђења у складу са законом којим се уређује финансијско обезбеђење, укључујући новчана средства и финансијске инструменте на којима је установљено заложно право у складу са тим законом. Предмет извршења не могу бити ни друга права и ствари који су овим или другим законом изузети од извршења.
                Закон о јавној својини допуњује ову одредбу и детаљније одређује непокретности које не могу бити предмет принудног извршења. На основу члана 16. овог закона, прописано је да …
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
