<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="30-01-2023">30.01.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>УПРАВЉАЊЕ ОТПАДОМ И ОБАВЕЗЕ ПРОИЗВОЂАЧА ОТПАДА</b>
                    </a>
                </p>
            </div>
            <p>
                Управљање отпадом је сложен процес који обухвата контролу целокупног система поступања са отпадом, од његовог настанка, преко разврставања, сакупљања и транспорта, до третмана и одлагања отпада, као завршне фазе у том систему.
                Од 2009. године, када је усвојен Закон о управљању отпадом, до данас је усвојен велики број законских и подзаконских аката, укључујући и ревидирану Стратегију управљања отпадом за период 2010–2019. година. 
                На основу Закона о управљању отпадом  управљање комуналним отпадом у Републици Србији у надлежности је локалне самоуправе. 
                Стратегијом управљања отпадом предвиђена је изградња 26 заједничких депонија за више јединица локалне самоуправе, односно регионалних центара за управљање комуналним отпадом…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
