<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">РАДНИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="06-08-2025">06.08.2025.</time><br><br>
                <p>
                    <a href="#">
                        <b>ИЗМЕНА УГОВОРЕНИХ УСЛОВА РАДА</b><br />
                    </a>
                </p>
            </div>
            <p>
                Имајући у виду да радни однос није статичан и да је његово трајање условљено укупним друштвено-економским амбијентом, измене уговорених услова рада су могуће уколико су испуњена два услова. Први, да су те измене резултат објективних потреба процеса рада, а не самовоље послодавца. Други, да се изменама уговорених услова рада не угрожава минимум права који је предвиђен општим актима који регулишу односе између послодавца и запосленог.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
