<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-05-2023">05.06.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>Резултати пословања републичких јавних предузећа у првом тромесечју 2023. године</b>
                    </a>
                </p>
            </div>
            <p>
                Законом о јавним предузећима („Службени гласник РС“, број 15/16 и 88/19) (у даљем тексту: Закон) утврђена је обавеза јавног предузећа и друштва капитала, које обавља делатност од општег интереса да за сваку календарску годину донесе годишњи, односно трогодишњи програм пословања и достави га оснивачу, ради добијања сагласности. Рок за доставу предлога је 1. децембар текуће године за наредну годину, односно 15 дана од дана усвајања акта о буџету, уколико предузеће, односно друштво капитала финансирају своје пословање буџетским средствима.
                Програм пословања се сматра донетим, по добијању сагласности оснивача. Након усвајања програма, Министарство привреде прати реализацију ових докумената. Субјекти на које се односи Закон имају обавезу да 30 дана од дана истека тромесечја припреме и доставе тромесечни извештај о реализацији годишњег, односно трогодишњег програма.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>
    </main>
</div>
