<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ИМОВИНСКИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="01-04-2024">01.04.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>ЗАКУП КОМЕРЦИЈАЛНИХ НЕПОКРЕТНОСТИ У ЈАВНОЈ СВОЈИНИ</b><br />
                    </a>
                </p>
            </div>
            <p>
                Посебни прописи којима је уређено питање закупа ствари у јавној својини су: 1) Закон о јавној својини, Уредба о условима прибављања и отуђења непокретности непосредном погодбом и давања у закуп ствари у јавној својини, односно прибављања и уступања искоришћавања других имовинских права, као и поступцима јавног надметања и прикупљања писмених понуда, као и општи акти јединица локалних самоуправа – којима је уређено питање закупа покретних и непокретних ствари (комерцијалне непокретности - пословни простор, станови, гараже, гаражна места и др.), 2) Закон о планирању и изградњи, Уредба о условима, начину и поступку под којима се грађевинско земљиште у јавној својини може отуђити или дати у закуп по цени мањој од тржишне цене, односно закупнине или без накнаде, као и услове, начин и поступак размене непокретности, као и општи акти јединица локалних самоуправа – којима је уређено питање закупа грађевинског земљишта.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
