<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="03-12-2024">03.12.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            ДЕВЕТОМЕСЕЧНИ РЕЗУЛТАТИ ПОСЛОВАЊА ЈАВНИХ ПРЕДУЗЕЋА
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                У септембру ове године је формално почела пуна примена Закона о управљању привредним друштвима која су у власништву Републике Србије („Сл. гл. РС”, број 76/23; у даљем тексту: Закон).
                Сходно Законом прописаним роковима, до половине новембра 2024. године требало је да буде донет акт којим ће министар привреде, на предлог комисије за утврђивање смерница за управљање државним предузећима, прописати садржај и начин спровођења наведених сме-рница, док до марта 2025. године тек треба да буде донет подзаконски акт Владе којим ће се уредити услови и квалификације неопходне за учешће у раду горе поменуте комисије, као и активности које ће иста спроводити.
                До краја првог тромесечја наредне године Влада би, на предлог Министарства привреде, требало да утврди и садржину, рокове и начин достављања аката које ће друштва капитала достављати Министарству привреде: средњорочни план пословања, годишњи план пословања и периодични извештај о пословању…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
