<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ФИНАНСИЈЕ И РАЧУНОВОДСТВО</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="30-01-2023">30.01.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>САСТАВЉАЊЕ  ГОДИШЊИХ  ФИНАНСИЈСКИХ  ИЗВЕШТАЈА ЗА 2022. ГОДИНУ ЗА ПРИВРЕДНА ДРУШТВА, ЈАВНА ПРЕДУЗЕЋА ПРЕДУЗЕТНИКЕ И ДРУГА ПРАВНА ЛИЦА</b>
                    </a>
                </p>
            </div>
            <p>
                Измене и допуне у начину достављања финансијских извештаја за 2022. годину се односе на следећа питања:
                1 Електронско потписивање применом посебне апликације Агенције;
                2. Прописивање обавезе достављања одлуке  о обједињеном годишњем извештају о пословању само уз одлуку о усвајању  редовног годишњег финансијског извештаја  и ревизорског извештаја, тј само ако је одржана редовна годишња седница скуп¬штине правног лица (члан 2. Измена и допуна Правилника) …
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
