<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ФИНАНСИЈЕ И РАЧУНОВОДСТВО</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="27-12-2022">27.12.2022.</time><br><br>
                <p>
                    <a href="#">
                        <b>ИЗВРШЕНЕ ИЗМЕНЕ И ДОПУНЕ ЗАКОНА О ЕЛЕКТРОНСКОМ ФАКТУРИСАЊУ</b>
                    </a>
                </p>
            </div>
            <p>
                У ,,Службеном гласнику'' бр. 138/22 објављен је Закон о изменама и допунама Закона о електронском фактурисању (даље: измене Закона), које ступају на снагу 1.1.2023. године 
                осим одредбе која се односи на могућност накнадног прихватања одбијене електронске фактуре осим за електронске фактуре које се евидентирају у ЦРФ 
                у складу са Законом о роковима измирења новчаних обавеза у комерцијалним трансакцијама за које ће то бити могуће од 1. јуна 2023. године (члан 11. измена Закона).
                Овим текстом указујемо на извршене измене и допуне Закона о електронском фактурисању („Сл. гл. РС” бр. 44/21 и 129/22 – даље: Закона) и новинама које нам доносе извршене измене.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
