<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">РАДНИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="08-10-2025">08.10.2025.</time><br><br>
                <p>
                    <a href="#">
                        <b>Појмовно одређење особе са инвалидитетом</b><br />
                    </a>
                </p>
            </div>
            <p>
                Према особама са инвалидитетом послодавци имају одређене обавезе, како у погледу њиховог запошљавања, тј. пре него што их приме у радни однос, тако и након што их приме у радни однос, уколико им се током трајања радног односа смањи радна способност и добију статус особа са инвалидитетом.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
