<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ЗАРАДЕ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="04-10-2023">04.10.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>ИСПЛАТА ЗАРАДА У ЈАВНИМ ПРЕДУЗЕЋИМА У КОНТЕКСТУ ЗАКОНСКИХ ОГРАНИЧЕЊА</b><br />
                    </a>
                </p>
            </div>
            <p>
                Зараде у јавним, односно јавно-кому¬налним предузећима су годинама уна¬зад биле ограничене различитим мода¬литетима законских, односно подзаконских аката и као такве предмет су судских спорова услед различитих ставова судских инстанци.
                Закон који је у тој области побудио нај¬више пажње је Закон о привременом уређивању основица за обрачун и исплату плата односно зарада и других сталних примања код корисника јавних средстава, који се не примењује од 2020. године. Ово стога што се само ограничење, односно умањење није односило само на запослене у јавном сектору, већ и на пензионере и обухватило најшире слојеве друштва.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
