<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ЈАВНЕ НАБАВКЕ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="02-08-2023">02.08.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>СУКОБ ИНТЕРЕСА И ПОВРЕДА КОНКУРЕНЦИЈЕ У ПОСТУПКУ ЈАВНЕ НАБАВКЕ</b><br />
                    </a>
                </p>
            </div>
            <p>
                Закон о јавним набавкама („Сл. гл. РС” број 91/19 – даље: Закон) је општом  одредбом  која  се  односи  на  начела јавне  набавке, у члану 5. између осталог, прописао   поступања  наручилаца на  економичан  и ефи¬касан  начин, уз  обавезу обезбеђења  конкуренције, једнаког  положаја  свих привредних  субјеката,  без  дискриминације. У  наставку  текста  опширније ћемо  писати  о   сукобу  интереса, заштити  интегритета пос¬тупка  и  заштити  конкуренције…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
