<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="26-12-2023">26.12.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            ЈАВНА ПРЕДУЗЕЋА СА СТАНОВИШТА ПРОГРАМА ЕКОНОМСКИХ РЕФОРМИ ЗА ПЕРИОД 2024-2026. ГОДИНЕ
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Почев од 2015. године, Република Србија, као држава кандидат за пријем у чланство Европске уније, израђује документ под на¬зивом Програм економских реформи, који је најважнији стратешки документ у еко¬ном¬ском дијалогу са Eврoпскoм кoмисиjoм и државама члaницaмa Eвропске Уније.
                У питању је програм, који се сваким новим циклусом израде ажурира. Изабране струк-турне реформе, којe се настављају из прет¬ходног циклуса, усклађене су са националним документима, националним и регионалним стратегијама, кључним документима у про¬цесу приступања Републике Србије Европ¬ске Уније, као и препорукама Савета за еко¬номска и финансијска питања Европске Уније. Реализација ових структурних рефо¬рми се очекује у наредном средњорочном периоду.
                Република Србија пролази кроз десети циклус припреме Програма економских ре-форми…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
