<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="06-08-2025">06.08.2025.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            НОВЕ УРЕДБЕ И НАСТАВАК АНАЛИЗЕ ПОСЛОВАЊА ДРЖАВНИХ ПРЕДУЗЕЋА У 2024. ГОДИНИ
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                У претходном излагању изразили смо очекивање да ће Влада у што скоријем периоду донети још три недостајућа подзаконска акта, сходно Закону о управљању привредним друштвима која су у власништву Републике Србије („Службени гласник РС“, број 76/23; у даљем тексту: Закон). У питању су кључни акти којима се уређују: квалификације представника министарстава који се именују за чланове комисије за утврђивање општих годишњих циљева друштава капитала, односно смерница; затим, садржина, израда, рокови и начин достављања средњорочног плана пословања, годишњег плана пословања и периодичних извештаја о пословању друштава капитала, и акт којим се прописују критеријуми за утврђивање зарада, односно накнада за органе друштва капитала.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
