<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ПОРЕЗИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="02-09-2024">02.09.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>ИЗВРШЕНЕ ИЗМЕНЕ И ДОПУНЕ ПРАВИЛНИКА О ПОРЕЗУ НА ДОДАТУ ВРЕДНОСТ</b><br />
                    </a>
                </p>
            </div>
            <p>
                Министар финансија донео је Правилник о изменама и допунама Правилника о порезу на додату вредност који је објављен у „Сл. гласнику РС”, бр. 65/24 (даље: измене Правилника) који се примењује од 1.9.2024. године, осим одредаба које се односе на исказивање података у Обрасцу ПОПДВ које ће се примењивати од подношења пореских пријава ПДВ за пореске периоде одређене законом којим се уређује порез на додату вредност који почињу после 31. августа 2024. године што значи за месечне обвезнике почев од пореског периода септембар 2024. године, а за тромесечне почев од пореског периода октобар-децембар 2024. године.
                Измене и допуне Правилника о порезу на додату вредност („Сл. гл. РС”, бр. 37/21… 29/24 – даље: Правилник о ПДВ) извршене су ради усклађивања са прописима о електронском фактурисању односно најби-тнијом обавезом електронског евидентирања претходног пореза у Систему електронских фактура (даље: СЕФ). О извршеним изменама Правилника о ПДВ дајемо инструкцију.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
