<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                Из делатности јавних предузећа
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="30-03-2022">30.03.2022.</time><br><br>
                <p>
                    <a href="#">
                        <b>ПРОГРАМ УПРАВЉАЊА ОТПАДОМ У РЕПУБЛИЦИ СРБИЈИ ОД 2022. ДО 2031. ГОДИНЕ</b>
                    </a>
                </p>
            </div>
            <p>
                Влада Републике Србије је крајем јануара ове године донела Програм управљања отпадом у Републици Србији за период 2022-2031 године који је објављен у Службеном Гласнику РС бр. 12/22 од 1. фебруара.
                Овај акт донет је на основу члана 38. Закона о планском систему Републике Србије, а као документ јавних политика, на одређени начин надокнађује недостатак стратегије управљања отпадом која је од надлежних 
                дуго најављивана и која је у складу са обавезом прописаном чланом 10. Закона о управљању отпадом ("Сл. гласник РС", бр. 36/09, 88/10, 14/16 и 95/18) одавно требало да буде донета. Да је којим случајем донета, 
                стратегија би обрађивала шири круг питања, односно морала би да има садржај који је детаљно прописан чланом 11. Закона. То значи да би морала да садржи (1) анализу и оцену стања у управљању отпадом, (2) националне циљеве,
                као и (3) Национални план управљања отпадом чија структура је такође детаљно прописана, а коју актуелни Програм управљања отпадом о коме је овде реч у потпуности баш и не следи.
                @*За пословање јавних предузећа и друштава капитала, која обављају делатност од општег интереса заинтересован је велики број субјеката. Влада је оснивач републичких јавних предузећа, она именује органе јавних предузећа, даје сагласност на статут, давање гаранција, авала, јемстава, залога и других средстава обезбеђења за послове који нису из оквира делатности од општег интереса, статусне промене, оснивање зависних друштава капитала, ценовник (у случају регулисаних цена), одлуку о усвајању годишњег програма пословања, одлуку о расподели добити односно начину покрића губитка и друге одлуке надзорних одбора/скупштина друштава, у складу са законом и оснивачким актима јавног предузећа/друштва капитала...*@
                @*Мање локалне самоуправе у Републици Србији суочене су са проблемом пружања
            комуналних услуга у одређеним областима, нарочито имајући у виду да су комуналне
            делатности, делатности од општег интереса и да је општина, преко својих органа, у складу с
            Уставом и законом дужна да уређује и обезбеђује обављање и развој комуналних делатности и
            локални превоз и да је вршилац комуналне делатности дужан да организује свој рад и
            пословање на начин којим се обезбеђује трајно и несметано пружање комуналних услуга
            корисницима, под условима и на начин уређен законом.
        </p>
        <p>
            Међутим, у току пружања комуналних услуга могуће је да дође до непланираних прекида
            испоруке или поремећаја у пружању комуналних услуга, али не и трајног прекида пружања
            комуналних услуга грађанима.
        </p>
        <p>
            У циљу обезбеђивања трајног и несметаног пружања комуналних услуга, јединице локалне
            самоуправе могу, имајући у виду одредбе Закона о комуналним делатностима, поверити
            обављање комуналне делатности на следеће начине:
            <ol>
                <li> оснивањем јавног предузећа или привредног друштва;</li>
                <li> поверавањем привредном друштву, предузетнику или другом привредном субјекту;</li>
                <li> споразумом две или више јединица локалних самоуправа којим се уређује</li>
                заједничко обављање комуналних делатности;
                <li> преко пројекта јавно-приватног партнерства и концесије.</li>
            </ol>*@
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
