<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="01-06-2024">01.06.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            ОСТВАРЕНИ РЕЗУЛТАТИ ПОСЛОВАЊА ДРЖАВНИХ ПРЕДУЗЕЋА У 2023. ГОДИНИ
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Упркос бројним изазовима изазваним здравственом и ратним кризама, Србија је успела да задржи привредну отпорност, али и да региструје опоравак раста, висок прилив страних директних инвестиција, солидну фискалну позицију, смањење инфлације и високе девизне резерве.
                Битан сегмент укупне привреде чине предузећа у државном власништву. У складу са Законом о рачуноводству, Агенција за привредне регистре је прикупила финансијске извештаје за 2023. годину и исправне извештаје објавила.
                У наставку приказ 19 највећих државних предузећа, чији су пословни приходи већи од 1 млрд. динара и чији су финансијски извештаји објављени, затим 7 предузећа, чији су пословни приходи мањи од 1 млрд. динара и, коначно, упоредни приказ нето резултата за 2022. и 2023. годину наведених субјеката.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
