<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ПОРЕЗИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="29-11-2023">29.11.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>УСВОЈЕН ЗАКОН О ИЗМЕНАМА И ДОПУНАМА ЗАКОНА О ЕЛЕКТРОНСКОМ ФАКТУРИСАЊУ</b><br />
                    </a>
                </p>
            </div>
            <p>
                Народна Скупштина Републике Србије усвојила је Предлог закона о изменама и допунама Закона о електронском фактурисању („Сл. гл. РС”, бр. 44/21... 138/22 – даље: Закон). Закон о изменама и допунама Закона о електронском фактурисању објављен је у „Сл. гл. РС” бр. 92/23 – даље: измене Закона. У образложењу за доношење измена и допуна Закона о електронском фактурисању дати су циљеви који се желе испунити у наредном периоду који су између осталих и: наставак развоја система електронских фактура, припрема прелиминарне пореске пријаве пореза на додату вредност, интеграција са информационим системом Управе царина и са Системом за управљање фискализацијом, што пружа могу¬ћност за унапређење система електронских фактура увођењем електро¬нског евидентирања претходног пореза.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
