<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ПОРЕЗИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="03-12-2024">03.12.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>ЗАСТАРЕЛОСТ ПОТРАЖИВАЊА ПО ОСНОВУ ЈАВНИХ ПРИХОДА</b><br />
                    </a>
                </p>
            </div>
            <p>
                Одредбом члана 114. и 114а Закона о пореском поступку и пореској администрацији („Сл. гл. РС” бр. 80/02… 138/22– даље: ЗПППА) уређена је застарелост потраживања по основу јавних прихода. У складу са овом одредбом, уведен је јединствени рок застарелости у трајању од пет година – за утврђивање и наплату пореза и споредних пореских давања, за остваривање права пореског обвезника на повраћај, порески кредит, рефакцију и рефундацију, као и намирење доспелих обавеза путем прекњижавања пореза и на повраћај споредних пореских давања.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
