<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-09-2025">05.09.2025.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            Промена правне форме јавних предузећа чији је оснивач Република Србија, сходно новом Закону
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Како се Законом о управљању привредним друштвима која су у власништву Републике Србије („Службени гласник РС”, број 76/23, у даљем тексту: Закон) уређује начин спровођења политике државног власништва над републичким предузећима, тј. друштвима капитала, у којима се Република Србија појављује као власник, постепено се повлачи институт републичког јавног предузећа. С тим у вези, чланом 42. став 1. Закона прописано је да јавно предузеће чији је оснивач Република Србија врши промену правне форме у друштво са ограниченом одговорношћу или акционарско друштво. Приликом промене правне форме, основни капитал јавног предузећа се конвертује у уделе, односно у акције, у зависности од форме привредног друштва. Притом се задржава правни субјективитет и пословни идентитет јавног предузећа, без ликвидације, без престанка пословања и без прекида правног континуитета.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
