<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ЗАРАДЕ
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="27-12-2022">27.12.2022.</time><br><br>
                <p>
                    <a href="#">
                        <b>ПРИМЕНА НОВОДОНЕТИХ ПРОПИСА ЗА ОБРАЧУН ПЛАТА У 2023. ГОДИНИ</b>
                    </a>
                </p>
            </div>
            <p>
                12. децембра 2022. године усвојен је сет закона међу којима су Закон о изменама и допунама закона о порезу на доходак грађана и Закон о изменама и допунама закона о доприносима за обавезно социјално осигурање који се примењују почев од 1. јануара 2023. године. 
                У даљем тексту подсећамо на Одлуку о висини минималне цене рада без пореза и доприноса за период јануар – децембар 2023. године којом се утврђује нето износ минималне цене рада од 230,00 динара по радном часу („Сл. гл.”, бр. 105 од 14. септембра 2022. године). 
                Такође, дајемо табеле са износима нето и бруто минималне зараде по месецима за 2023. годи
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
