<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="29-11-2023">29.11.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            НОВО УПУТСТВО ЗА ДОСТАВУ ТРОМЕСЕЧНИХ ИЗВЕШТАЈА ПУТЕМ ИНФОРМАЦИОНЕ ПЛАТФОРМЕ
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Министар привреде донео је ново Упутство о начинима и роковима достављања образаца тромесечних извештаја о реализацији годишњег, односно трогодишњег програма пословања јавних предузећа.
                Најзначајнија новина се односи на продужење рока за доставу извештаја путем информационе платформе.
                Претходним упутством (Број: 110-00-218/2021-09-03 од 27. децембра 2022. године) била је утврђена обавеза да се тромесечни извештаји почев од периода 1.1-30.9.2023. достављају искључиво путем информационе платформе.
                Новим упутством је тај рок пролонгиран на доставу извештаја за период 1.1-31.3.2024.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
