<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="02-08-2023">02.08.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            ПРВА РЕВИЗИЈА STAND-BY АРАНЖМАНА СА МЕЂУНАРОДНИМ МОНЕТАРНИМ ФОНДОМ, ОСВРТ НА ЈАВНА ПРЕДУЗЕЋА
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Најновији аранжман, којим је замењен тада актуелни Инструмент за координацију политике, има вредност од 2,4 милијарде евра, спроводи се од децембра 2022. године и трајаће до краја 2024. године. Извршни одбор ММФ је 28. јуна 2023. године зак¬ључио прву ревизију stand-by аранжмана са Републиком Србијом (2).
                Захваљујући позитивним оценама након прве ревизије аранжмана, Републици Србији је доступно за куповину додатних 164 ми¬лиона СДР (преко 200 милиона евра), што би кумулативно повлачење довело до 949 милиона СДР (око 1,2 милијарде евра)…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
