<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ЗАРАДЕ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-05-2023">05.05.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>Унапред попуњена пореска пријава за годишњи порез на доходак грађана (ПП ГПДГ) и постављена на порталу Пореске управе</b>
                    </a>
                </p>
            </div>
            <p>
                Одредбама члана 87-89а Закона о порезу на доходак грађана („Сл. гл. РС“ бр. 24/01...138/22) прописан је начин подношења и садржина пореске пријаве о годишњем порезу на доходак грађана који се обрачунава и плаћа самоопорезивањем.
                Новим Правилником о пореској пријави за годишњи порез на доходак грађана („Сл. гл. РС“ бр. 24/23 од – даље: Правилник) прописује се начин утврђивања и наплате годишњег пореза на доходак грађана, као и садржина нове пореске пријаве.
                Сходно члану 2. новог Правилника о пореској пријави за годишњи порез на доходак грађана прописано је да се, почев од ове године, Пореској управи подноси најновија форма обрасца (ПП ГПДГ) - Пореска пријава о обрачунатом годишњем порезу на доходак грађана за годину која претходи години за коју се подноси пореска пријава. Образац ПП ГПДГ је одштампан уз Правилник и чини његов саставни део, а у примени је почев од пореске пријаве за 2022. годину.
                Правилник је ступио на снагу 30. 3.2023. године…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>
    </main>
</div>
