<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ЗАРАДЕ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="01-05-2024">01.05.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>ИЗМЕНА НАЧИНА ОБРАЧУНА НАКНАДЕ ЗА ПОРОДИЉСКО ОДСУСТВО И ОДСУСТВО СА РАДА РАДИ НЕГЕ ДЕТЕТА</b><br />
                    </a>
                </p>
            </div>
            <p>
                Одлуком Уставног суда која је донета 18. јануара, а објављена у Службеном гласнику РС број 11/24 oд 14. фебруара 2024. године, измењене су одредбе члана 13. Закона о финансијској подршци продици са децом (“Сл. гл. РС” бр. 113/12...11/24).
                Овом одлуком изједначен је начин обрачуна накнаде за породиљско одсуство и одсуство са рада ради неге детета за запослене које су користиле трудничко боловање, и оне које то нису морале, о чему пишемо у наредном тексту.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
