<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ФИНАНСИЈЕ И РАЧУНОВОДСТВО
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="04-01-2022">04.01.2022.</time><br><br>
                <p class="heading">
                    <a href="#">
                        ПРИМЕНА НОВОГ ПРАВИЛНИКА О КОНТНОМ ОКВИРУ И САДРЖИНИ РАЧУНА У КОНТНОМ ОКВИРУ ЗА ПРИВРЕДНА ДРУШТВА, ЗАДРУГЕ И ПРЕДУЗЕТНИКЕ И ПРЕКЊИЖАВАЊЕ СА СТАРИХ НА НОВЕ РАЧУНЕ
                    </a>
                </p>
            </div>
            <p>
                <h1>РОК ЗА ПРЕКЊИЖАВАЊЕ</h1>

                Рок до кога је потребно извршити прекњижавање је почетак евидентирања пословних промена за 2022. годину. Прекњижавање се врши од 1.1.2021. године, са прекњижавањем почетног стања и дуговног и потражног промета.

                <h1>ИЗМЕНЕ У НОВОМ ПРАВИЛНИКУ О КОНТНОМ ОКВИРУ</h1>

                Новим Правилником о Контном оквиру укинути су рачуни:

                - исправке вредности 019, 029, 039, 049, 059, 109, 139. Исправка вредности ће сада бити евидентирана аналитички у оквиру троцифрених рачуна било да је на основу амортизације, обезвређења и др.

                - рачун 566 - Расходи по основу уговорене заштите од ризика, који не испуњавају услове да се искажу у оквиру осталог свеобухватног добитка. Књижења са конта 566 се пребацују на конто 586 - Расходи од усклађивања вредности финансијских деривата и финансијских средстава која се исказују по фер вредности кроз Биланс успеха.

                Рачуни који су уведени су:

                - 015 - Нематеријална имовина узета у лизинг,

                - 025 - Некретнине, постројења и опрема узета у лизинг са правом коришћења преко годину дана,

                - 031 - Плодоносни вишегодишњи засади,

                - 032 - Остали вишегодишњи засади, део рачуна 031 се преноси на нови рачун (дрвеће и вишегодишње жбуње које се не држи примарно ради давања приноса, односно производње пољопривредних производа у смислу убирања плодова)…
                @*Мање локалне самоуправе у Републици Србији суочене су са проблемом пружања
            комуналних услуга у одређеним областима, нарочито имајући у виду да су комуналне
            делатности, делатности од општег интереса и да је општина, преко својих органа, у складу с
            Уставом и законом дужна да уређује и обезбеђује обављање и развој комуналних делатности и
            локални превоз и да је вршилац комуналне делатности дужан да организује свој рад и
            пословање на начин којим се обезбеђује трајно и несметано пружање комуналних услуга
            корисницима, под условима и на начин уређен законом.
        </p>
        <p>
            Међутим, у току пружања комуналних услуга могуће је да дође до непланираних прекида
            испоруке или поремећаја у пружању комуналних услуга, али не и трајног прекида пружања
            комуналних услуга грађанима.
        </p>
        <p>
            У циљу обезбеђивања трајног и несметаног пружања комуналних услуга, јединице локалне
            самоуправе могу, имајући у виду одредбе Закона о комуналним делатностима, поверити
            обављање комуналне делатности на следеће начине:
            <ol>
                <li> оснивањем јавног предузећа или привредног друштва;</li>
                <li> поверавањем привредном друштву, предузетнику или другом привредном субјекту;</li>
                <li> споразумом две или више јединица локалних самоуправа којим се уређује</li>
                заједничко обављање комуналних делатности;
                <li> преко пројекта јавно-приватног партнерства и концесије.</li>
            </ol>*@
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
