<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="01-04-2024">01.04.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            АКЦИОНИ ПЛАН ЗА СПРОВОЂЕЊЕ СТРАТЕГИЈЕ ДРЖАВНОГ ВЛАСНИШТВА У ПЕРИОДУ 2024-2025. ГОДИНЕ
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Искуство у функционисању државних предузећа указује на појаву проблема разводњавања одговорности, што је условило објективну потребу за повећањем ефикасности у доношењу власничких и пословних одлука. Сви ови проблеми у надзору над друштвима капитала, праћењу њихових учинака, као и недостатак доследног стратешког усмеравања и контроле представљају значајне фискалне ризике и превазилазиће се централизовањем власничких одговорности и надлежности у један орган.
                Централизацијом власничког управљања се, између осталог, очекује брже одлучивање у управљању средствима Републике Србије.
                С тим у вези, усвојена је Стратегија државног власништва и управљања привредним субјектима, који су у власништву Републике Србије за период од 2021. до 2027. године („Службени гласник РС“, број 36/21) и Акциони план за спровођење Стратегије државног власништва и управљања привредним субјектима, који су у власништву Републике Србије за период од 2021. до 2027. године, у периоду од 2021. до 2023. године („Службени гласник РС“, број 68/21).
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
