<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="01-05-2024">01.05.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            ПРОМЕНА СИСТЕМА УПРАВЉАЊА (У) ЈАВНИМ ПРЕДУЗЕЋИМА
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Доношењем Закона о управљању привредним друштвима која су у власништву Републике Србије („Службени гласник РС”, број 76/23), који ће се примењивати од септембра 2024. године, уједначиће се управљање државним предузећима, будући да су до сада јавна предузећа и друштва капитала која обављају делатност од општег интереса примарно примењивала Закон о јавним предузећима („Службени гласник РС“, бр 76/23), a остала предузећа – друштва капитала, Закон о привредним друштвима (Службени гласник РС“, број 36/11, 99/11, 83/14 – др. закон, 5/15, 44/18, 95/18, 91/19, 109/21).
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
