<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                Из делатности јавних предузећа
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="08-03-2022">08.03.2022.</time><br><br>
                <p class="heading">
                    <a href="#">
                        <b>Корпоративно управљање у јавним предузећима у Републици Србији</b>
                    </a>
                </p>
            </div>
            <p>
                За пословање јавних предузећа и друштава капитала, која обављају делатност од општег интереса заинтересован је велики број субјеката. Влада је оснивач републичких јавних предузећа, она именује органе јавних предузећа, даје сагласност на статут, давање гаранција, авала, јемстава, залога и других средстава обезбеђења за послове који нису из оквира делатности од општег интереса, статусне промене, оснивање зависних друштава капитала, ценовник (у случају регулисаних цена), одлуку о усвајању годишњег програма пословања, одлуку о расподели добити односно начину покрића губитка и друге одлуке надзорних одбора/скупштина друштава, у складу са законом и оснивачким актима јавног предузећа/друштва капитала...
                @*Мање локалне самоуправе у Републици Србији суочене су са проблемом пружања
            комуналних услуга у одређеним областима, нарочито имајући у виду да су комуналне
            делатности, делатности од општег интереса и да је општина, преко својих органа, у складу с
            Уставом и законом дужна да уређује и обезбеђује обављање и развој комуналних делатности и
            локални превоз и да је вршилац комуналне делатности дужан да организује свој рад и
            пословање на начин којим се обезбеђује трајно и несметано пружање комуналних услуга
            корисницима, под условима и на начин уређен законом.
        </p>
        <p>
            Међутим, у току пружања комуналних услуга могуће је да дође до непланираних прекида
            испоруке или поремећаја у пружању комуналних услуга, али не и трајног прекида пружања
            комуналних услуга грађанима.
        </p>
        <p>
            У циљу обезбеђивања трајног и несметаног пружања комуналних услуга, јединице локалне
            самоуправе могу, имајући у виду одредбе Закона о комуналним делатностима, поверити
            обављање комуналне делатности на следеће начине:
            <ol>
                <li> оснивањем јавног предузећа или привредног друштва;</li>
                <li> поверавањем привредном друштву, предузетнику или другом привредном субјекту;</li>
                <li> споразумом две или више јединица локалних самоуправа којим се уређује</li>
                заједничко обављање комуналних делатности;
                <li> преко пројекта јавно-приватног партнерства и концесије.</li>
            </ol>*@
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
