<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-05-2023">05.05.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>Нацрт закона о изменама и допунама Закона о комуналним делатностима</b>
                    </a>
                </p>
            </div>
            <p>
                Министарство грађевинарства, саобраћаја и инфраструктуре, обавестило је државне органе, стручну јавност, као и друге заинтересоване стране, да ће се у периоду од 24. марта до 14. априла 2023. године, спроводити јавна расправа о Нацрту закона о изменама и допунама Закона о комуналним делатностима.
                Јавна расправа о Нацрту закона спроводи се у форми трибина и дискусија у следећим градовима: Новом Саду, Нишу, Зајечару, Крагујевцу и Београду.
                Разлози за измене и допуне Закона о комуналним делатностима и циљеви који се остварују су …
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>
    </main>
</div>
