<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="28-08-2023">28.08.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            ПОЛУГОДИШЊИ РЕЗУЛТАТИ ПОСЛОВАЊА ЈАВНИХ ПРЕДУЗЕЋА
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Законом о јавним предузећима прописана је обавеза јавних предузећа и других облика организовања, која обављају делатност од општег интереса, да Министарству привреде у року од 30 дана од дана истека тромесечја достављају извештаје о реализацији годишњег, односно трогодишњег програма пословања.
                Како је 31. јула 2023. године истекао рок за доставу предметних извештаја за период 1. јануар – 30. јун 2023. године, а имајући у виду обавезу јавних предузећа и друштава капитала да на својим интернет страницама, између осталог, објављују и тромесечне извештаје о реализацији програма пословања, увидом у објављене извештаје сагледаћемо остварене индикаторе пословања ових, по привреду и целокупно становништво, изузетно значајних привредних субјеката.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
