<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ИМОВИНСКИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-05-2023">05.06.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>Пробијање правне личности - средство заштите поверилаца против несавесних дужника (lifting the veil)</b>
                    </a>
                </p>
            </div>
            <p>
                Средства заштите поверилаца привредног друштва су различита, а једно од значајних средстава јесте институт пробијања правне личности. По правилу, друштво за своје обавезе одговара целокупном својом имовином којом располаже у тренутку релевантном за ангажовање његове одговорности, без могућности ангажовања одговорности других субјеката (чланова друштва и запослених, као посебних правних субјеката). 
                То је последица начела одвојености правних субјективитета привредног друштва и његових чланова, а самим тим и начела одвојености њихових имовина. Тако, чланови или акционари друштва капитала не одговарају за обавезе друштва, већ сносе ризик пословања друштва до висине унетог улога. У одређеним случајевима могуће су разне махинације у смислу скривања чланова друштва изa његовог правног субјективитета, ради постизања властитих циљева са којима су чланови или акционари ушли у друштвo.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>
    </main>
</div>
