<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="04-10-2023">04.10.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            НОВА УРЕДБА О КАПИТАЛНИМ ПРОЈЕКТИМА
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Уредба се примењује на капиталне пројекте који се финансирају (или суфинансирају) из јавних прихода и примања, у смислу закона којим се уређује буџетски систем; капиталне пројекте за чију имплементацију је неопходно издавање гаранција државе, у складу са законом којим се уређује јавни дуг; капиталне пројекте који се финансирају (или суфинансирају) из фондова Европске уније, неке друге државе или међународне институције, као и капиталне пројекте за које се захтева давање субвецнија, у складу са законом којим се уређује буџет. Изузетно, одредбе ове уредбе се не примењују на капиталне пројекте из сектора безбедности.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
