<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ПОРЕЗИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="26-12-2023">26.12.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>ИЗВРШЕНЕ ИЗМЕНЕ И ДОПУНЕ ПРАВИЛНИКА О ЕЛЕКТРОНСКОМ ФАКТУРИСАЊУ</b><br />
                    </a>
                </p>
            </div>
            <p>
                Доношењем Правилника о изменама и допунама Правилника о електронском фактурисању („Сл. гл. РС”, бр. 116/23 - даље: измене Правилника), извршена су прецизирања и допуне поједи¬них одредби Правилника о електронском фактурисању („Сл. гл. РС” бр. 47/23 - даље: Правилник). Измене и допуне правилника су ступиле на снагу 1.1.2024. године, осим одредаба члана 6. које се односе на податке које садржи листа корисника система електронских фактура и начину брисања из система електронских фактура које ступају на снагу 1.3.2024. године. О извршеним изменама и допунама Правилника о ПДВ и њиховој примени прочитајте у тексту.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
