<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ПОРЕЗИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="04-02-2022">04.02.2022.</time><br><br>
                <p class="heading"><a href="#"><b>ПОМЕРЕН РОК ЗА ПРИМЕНУ ЗАКОНА О ЕЛЕКТРОНСКОМ ФАКТУРИСАЊУ И ПОДЗАКОНСКИХ АКАТА</b></a></p>
            </div>
            <p>
                У „Службеном гласнику РС” бр. 132/21 објављене су измене и допуне свих уредби и правилника којим је додатно уређен Закон о електронском фактурисању. Извршене су измене и допуне три уредбе и три пра¬ви¬лника тако да су донете следеће уредбе и правилници:
                <br />
                1.	<b>Уредба о изменама Уредбе о усло¬вима и начину коришћења система за управљање фактурама</b> – извршена је измена у члану 6. претходне уредбе у смислу да је измењен датум примене тј. уредба се <b>примењује од 1.5.2022. године</b> уместо од 1.1.2022. године.
                <br />
                2.	<b>Уредба о изменама Уредбе о усло¬вима и начину чувања и стављања на увид електронских фактура и начину обезбеђивања веродостојности и ин¬тег¬ритета садржине фактура у па¬пир-ном облику</b> – извршена је измена у члану 6. претходне уредбе у смислу да је измењен датум примене …
                <br />
                @*Обично се у упоредном праву и пракси под флексибилним облицима запошљавања
            подразумева: рад код куће, вршење повремених и привремених послова, самозапошљавање,
            рад преко викенда, запошљавање са непуним радним временом, радници за помоћ у кући. У
            Србији све претходно поменуте врсте радног ангажовања не спадају у рад ван радног односа, јер
            се неке од њих одвијају у оквиру радног односа (рад код куће, запошљавање са непуним радним
            временом, рад кућног и помоћног особља).
        </p>
        <p>
            Један од облика флексибилног запошљавања који је сада и у Србији регулисан <i>
                Законом о
                агенцијском запошљавању
            </i>( „Сл. гл. РС“ бр. 86/19) је рад посредством агенција за привремено
            запошљавање. У упоредним правним системима привремено агенцијско запошљавање, уређује
            се одредбама закона о раду, ређе законима о запошљавању и доста ретко, посебним законима.
            Под радом посредством агенција за привремено запошљавање, подразумева се запошљавање
            радника ради уступања другом послодавцу. Послодавац (приватна агенција за запошљавање)
            запошљава радника искључиво ради његовог уступања другим послодавцима. Запошљавање*@
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
