<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ИМОВИНСКИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="28-08-2023">28.08.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>ЗАКОН О ДОПУНАМА ЗАКОНА О ОЗАКОЊЕЊУ ОБЈЕКАТА</b><br />
                    </a>
                </p>
            </div>
            <p>
                Народна скупштина Републике Србије усвојила је Закон о допунама Закона о озакоњењу објеката („Сл. гл. РС”, број 62/2023).
                Изменама постојећих законских решења отклањају проблеми за поједине групе грађана чиме ће се омогућити прикључење на електричну енергију и комуналну инфра-структуру, имајући у виду да употреба струје, воде, грејања и канализације, представљају нека од најважнијих, основних права сваког човека, те да, поред тога, имају и хумани карактер.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
