<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ФИНАНСИЈЕ И РАЧУНОВОДСТВО
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="04-01-2022">04.01.2022.</time><br><br>
                <p class="heading">
                    <a href="#">
                        <b>САСТАВЉАЊЕ ГОДИШЊИХ ФИНАНСИЈСКИХ ИЗВЕШТАЈА ЗА 2021. ГОДИНУ ЗА ПРИВРЕДНА ДРУШТВА, ЈАВНА ПРЕДУЗЕЋА, ПРЕДУЗЕТНИКЕ И ДРУГА ПРАВНА ЛИЦА</b>
                    </a>
                </p>
            </div>
            <p>
                Годишњи финансијски извештај за 2021. годину се саставља у складу са Законом о рачуноводству („Сл. гл. РС“ бр.73/19 и 44/21).
                Почев од 31.12.2021. године више се не примењују одредбе претходног Закона, већ се поступа по одредбама новог закона.
                Обавеза састављања финансијских изве¬штаја односи се на следећа лица:
                    1.	Правна лица
                    2. Друга правна лица
                    3. Предузетнике који воде пословне књи¬ге по систему двојног књиговодства;
                    4. Огранке и друге организационе дело¬ве страних правних лица чије је седиште у иностранству, а који обављају делатност у Републици Србији
                    5. Правна лица и друге облике орга¬ни¬зо¬ва¬ња које је правно лице основало у ино¬ст¬ранству, ако за њих није прописима тих др¬жа¬¬ва утврђена обавеза вођења пословних књи¬га и састављање финансијских изве¬шта¬ја;
                    6. Правна лица у стечају.

                @*Мање локалне самоуправе у Републици Србији суочене су са проблемом пружања
            комуналних услуга у одређеним областима, нарочито имајући у виду да су комуналне
            делатности, делатности од општег интереса и да је општина, преко својих органа, у складу с
            Уставом и законом дужна да уређује и обезбеђује обављање и развој комуналних делатности и
            локални превоз и да је вршилац комуналне делатности дужан да организује свој рад и
            пословање на начин којим се обезбеђује трајно и несметано пружање комуналних услуга
            корисницима, под условима и на начин уређен законом.
        </p>
        <p>
            Међутим, у току пружања комуналних услуга могуће је да дође до непланираних прекида
            испоруке или поремећаја у пружању комуналних услуга, али не и трајног прекида пружања
            комуналних услуга грађанима.
        </p>
        <p>
            У циљу обезбеђивања трајног и несметаног пружања комуналних услуга, јединице локалне
            самоуправе могу, имајући у виду одредбе Закона о комуналним делатностима, поверити
            обављање комуналне делатности на следеће начине:
            <ol>
                <li> оснивањем јавног предузећа или привредног друштва;</li>
                <li> поверавањем привредном друштву, предузетнику или другом привредном субјекту;</li>
                <li> споразумом две или више јединица локалних самоуправа којим се уређује</li>
                заједничко обављање комуналних делатности;
                <li> преко пројекта јавно-приватног партнерства и концесије.</li>
            </ol>*@
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
