<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ЗАРАДЕ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="26-12-2023">26.12.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>ПРИМЕНА НОВОДОНЕТИХ ПРОПИСА ЗА ОБРАЧУН ПЛАТА У 2024. ГОДИНИ</b><br />
                    </a>
                </p>
            </div>
            <p>
                У октобру 2023. године усвојени су  Закон о изменама и допунама закона о порезу на доходак грађана („Сл. гл. РС”, бр. 92/23) и Закон о изменама закона о доприносима за обавезно социјално осигурање („Сл. гл. РС”, бр. 92/23) који се примењују почев од 1. јануара 2024. године. У даљем тексту подсећамо на Одлуку о висини минималне цене рада („Сл. гл. РС”, бр. 79), која је донета 15. септембра 2023. године, а која се примењује почев од 1. јануара  2024. године. Овом одлуком утврђује се нето износ минималне цене рада од  271,00 динар по радном часу…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
