<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">РАДНИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-09-2025">05.09.2025.</time><br><br>
                <p>
                    <a href="#">
                        <b>Солидарна помоћ запосленима</b><br />
                    </a>
                </p>
            </div>
            <p>
                Радни однос запослених карактерише постојање права и обавеза на страни запосленог и послодавца. Иста су у бројним ситуацијама предвиђена Законом о раду („Сл. гл. РС” бр. 24/05… 95/218 – аутентично тумачење), а општим актом послодавца и уговором о раду додатно се прецизирају, односно права запослених се проширују. Право на солидарну помоћ запосленог је као могућност предвиђена Законом о раду, а њени основи, износи и поступци за остваривање уређују се колективним уговором, правилником о раду или уговором о раду. Солидарна помоћ се запосленом по правилу исплаћује када се он због наступања одређених објективних околности налази у материјалној неприлици, а њен циљ је да омогући запосленом да побољша свој финансијски статус и отклони или ублажи последице које су довеле до погоршања његове финансијске ситуације.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
