<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ФИНАНСИЈЕ И РАЧУНОВОДСТВО
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="26-12-2023">26.12.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            САСТАВЉАЊЕ  ГОДИШЊИХ  ФИНАНСИЈСКИХ  ИЗВЕШТАЈА ЗА 2023. ГОДИНУ ЗА ПРИВРЕДНА ДРУШТВА, ЈАВНА ПРЕДУЗЕЋА, ПРЕДУЗЕТНИКЕ И ДРУГА ПРАВНА ЛИЦА
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Годишњи финансијски извештај за 2023. годину се саставља у складу са Законом о рачуноводству („Сл. гл. РС”, бр. 73/19 и 44/21).
                Обавеза састављања финансијских извештаја односи се на следећа лица:
                1.Правна лица,
                2. Друга правна лица,
                3. Предузетнике који воде пословне књиге по систему двојног књиговодства,
                4. Огранке и друге организационе де¬лове страних правних лица чије је седиште у иностранству, а који обављају делатност у Републици Србији.
                5. Правна лица и друге облике орга¬низовања које је правно лице основало у иностранству, ако за њих није прописима тих држава утврђена обавеза вођења пословних књи¬га и састављање финансијских извеш¬таја,
                6. Правна лица у стечају.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
