<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">РАДНИ ОДНОСИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-07-2023">05.07.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>КРАТАК ВОДИЧ КРОЗ НОВИ ЗАКОН О БЕЗБЕДНОСТИ И ЗДРАВЉУ НА РАДУ</b><br />
                        •	„Лица“ постају саветници и сарадници
                    </a>
                </p>
            </div>
            <p>
                Саветнике и сараднике за безбедност и здравље на раду свакако очекује више посла. Закон је прегледнији и са доста новина, почевши од дефиниције радног места са повећаним ризиком, затим рада од куће и рада на даљину, до увођења Регистра повреда на раду.
                Запосленима које су послодавци одредили да буду лица за безбедност и здравље на раду ових дана инбокс је пун понуда за семинаре на тему новог Закона о безбедности и здрављу на раду…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
