<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-07-2023">05.07.2023.</time><br><br>
                <p>
                    <a href="#">
                        <b>ЈАВНА ПРЕДУЗЕЋА КРОЗ ПРИЗМУ НОВОГ ЗАКОНА О ДРЖАВНИМ ПРЕДУЗЕЋИМА</b><br />
                        •	Стратегија државног власништва – увод у нови закон
                    </a>
                </p>
            </div>
            <p>
                Априла 2021. године Влада је усвојила Стратегију државног власништва и управљања привредним субјектима, који су у власништву Републике Србије за период од 2021. до 2027. године („Службени гласник РС“, број 36/21) (у даљем тексту: Стратегија). 
                Иницијатива за израду Стратегије је потекла након разматрања напретка у реализацији програма подржаног Инструментом за координацију политике (Policy Coordination Instrument), између Републике Србије и Међународног монетарног фонда…
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
