<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="28-02-2024">28.02.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            ПРЕЛИМИНАРНИ РЕЗУЛТАТИ ПОСЛОВАЊА ЈАВНИХ ПРЕДУЗЕЋА У 2023. ГОДИНИ
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Сходно подацима из Ревидиране фискалне стратегије за 2024. годину са пројекцијама за 2025. и 2026. годину (1), јавна предузећа и друштва капитала, која обављају делатност од општег интереса су у првом полугодишту 2023. године остварила укупну нето добит у значајно већој мери од планиране. Очигледно је да Електропривреда Србије а.д. има највеће учешће и значај у остварењу укупног резултата, па ће од успешности пословања овог субјекта зависити и да ли ће јавна предузећа 2023. годину завршити у зони нето добитка.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
