<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ПОРЕЗИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="28-02-2024">28.02.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>У УТВРЂИВАЊЕ ПОРЕСКЕ ОСНОВИЦЕ И САСТАВЉАЊЕ ПОРЕСКОГ БИЛАНСА ПРИЛИКОМ УТВРЂИВАЊА ПОРЕЗА НА ДОБИТ ПРАВНИХ ЛИЦА ЈАВНИХ ПРЕДУЗЕЋА И ДРУГИХ ПРАВНИХ ЛИЦА ЗА 2023. ГОДИНУ</b><br />
                    </a>
                </p>
            </div>
            <p>
                ПОРЕЗ НА ДОБИТ – УСКЛАЂИВАЊЕ ПРИХОДА И РАСХОДА
                I Порески обвезник и порески период
                Према Закону о порезу на добит правних лица („Сл. гласник РС“ 20/14...159/20 и 97/21) обвезници су:
                	Привредна друштва, предузећа, друга правна лица која су основана ради обављања делатности са циљем стицања добити где спадају:
                -	Акционарска друштва;
                -	Друштва са ограниченом одговор¬ношћу;
                -	Ортачка друштва;
                -	Командитна друштва;
                -	Друштвена предузећа;
                -	Јавна предузећа;
                	Задруге које остварују приходе продајом производа или услуга на тржишту уз накнаду;
                	Друго правно лице које није основано ради остваривања добити, али уколико остварује приходе продајом производа или услуга на тржишту уз накнаду и оно је обвезник пореза на добит;
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
