<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="01-10-2024">01.10.2024.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            ПОЧЕТАК ПРИМЕНЕ НОВОГ ЗАКОНА О УПРАВЉАЊУ ДРЖАВНИМ ПРЕДУЗЕЋИМА И ПЛАНСКИ ДОКУМЕНТИ ЗА 2025. ГОДИНУ
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Закон о управљању привредним друштвима која су у власништву Републике Србије („Службени гласник РС”, број 76/23) (удаљем тексту: Закон) је ступио на снагу 15. септембра 2023. године, а почео је да се примењује, уз изузетак неких одредаба, 16. септембра 2024. године.
                Друштво капитала, на које се примењује Закон, је привредно друштво са формом акционарског друштва или друштва с ограниченом одговорношћу, у којем Република Србија има својство члана, односно акционара са више од 50% основног капитала друштва, као и привредно друштво у којима Република Србија има контролно власништво по другом основу.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
