<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta2.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ПОРЕЗИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta2.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="05-10-2022">05.10.2022.</time><br><br>
                <p>
                    <a href="#">
                        <b>ПОРЕСКЕ ОЛАКШИЦЕ КОД ПЛАЋАЊА ПОРЕЗА И ДОПРИНОСА ЗА ПИО ПО ОСНОВУ ЗАРАДЕ КВАЛИФИКОВАНОГ НОВОЗАПОСЛЕНОГ ЛИЦА</b>
                    </a>
                </p>
            </div>
            <p>
                За одређене категорије новозапослених лица и под условима који важе за пос-лодавце, у Републици Србији је прописано више пореских олакшица. Остварују се на принципу рефундације (повраћаја) или ос-лобођења (у потпуности или делимично) плаћања пореза на зараде и социјалних доприноса.

                Олакшице су прописане Законом о порезу на доходак грађана, Законом о социјалним доприносима и другим подзаконским актима, који ближе уређују поступке и остваривање права.
                @*Чланом 1а Закона о државним и другим празницима у Републици Србији („Сл. гл. РС” бр. 43/01... 92/11 – даље: Закон о празницима) прописано је да државни празник Републике Србије јесте Празник рада и да се празнује нерадно 1. и 2. маја (недеља и понедељак).
        Чланом 2. Закона о празницима прописано је да се у Републици Србији празнују Васкршњи верски празници почев од Великог петка (22. априла) закључно са другим даном Васкрса понедељком (25. априла 2022. године) и то су нерадни дани за све запослене, без обзира на вероисповест.*@
                @*У овом тексту ћемо писати о накнадама зараде по основу привремене спречености за рад, која се исплаћује из средстава која обезбеђује Републички фонд за здравствено осигурање сагласно члану 102. Закона о здравственом осигурању. Посебно ћемо се осврнути на специфичности накнада по основу привремене спречености за рад преко 30 дана нарочито по питању утврђивања основа за обрачун накнаде и примене минималне цене рада...*@
                @*Обично се у упоредном праву и пракси под флексибилним облицима запошљавања
            подразумева: рад код куће, вршење повремених и привремених послова, самозапошљавање,
            рад преко викенда, запошљавање са непуним радним временом, радници за помоћ у кући. У
            Србији све претходно поменуте врсте радног ангажовања не спадају у рад ван радног односа, јер
            се неке од њих одвијају у оквиру радног односа (рад код куће, запошљавање са непуним радним
            временом, рад кућног и помоћног особља).
        </p>
        <p>
            Један од облика флексибилног запошљавања који је сада и у Србији регулисан <i>
                Законом о
                агенцијском запошљавању
            </i>( „Сл. гл. РС“ бр. 86/19) је рад посредством агенција за привремено
            запошљавање. У упоредним правним системима привремено агенцијско запошљавање, уређује
            се одредбама закона о раду, ређе законима о запошљавању и доста ретко, посебним законима.
            Под радом посредством агенција за привремено запошљавање, подразумева се запошљавање
            радника ради уступања другом послодавцу. Послодавац (приватна агенција за запошљавање)
            запошљава радника искључиво ради његовог уступања другим послодавцима. Запошљавање*@
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
            <div>
        </article>






    </main>
