<div class="bgded overlay" style="background-image:url('../.././images/demo/SlikaTeksta1.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">
                ИЗ ДЕЛАТНОСТИ ЈАВНИХ И КОМУНАЛНИХ ПРЕДУЗЕЋА
            </h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <article style="margin-left: 20%; margin-right:20%">
            <a class="imgover" href="#"><img src="images/demo/SlikaTeksta1.jpg" alt=""></a><br>
            <div class="excerpt">
                <br>
                <time datetime="08-10-2025">08.10.2025.</time><br><br>
                <p>
                    <a href="#">
                        <b>
                            Усклађивање аката државних предузећа са одредбама новог Закона и полугодишњи резултати пословања
                        </b>
                        <br />
                    </a>
                </p>
            </div>
            <p>
                Након што су отпочели поступци промене правне форме републичких јавних предузећа, пред Владом Републике Србије је и активност давања сагласности на усклађене оснивачке акте, односно статуте друштава капитала на која се примењује Закон о управљању привредним друштвима која су у власништву Републике Србије („Службени гласник РС“, број 76/23) (у даљем тексту: Закон). У питању су привредни субјекти, који већ имају форму акционарских друштава или друштава са ограниченом одговорношћу, али чије пословање није усклађено са одредбама Закона.
            </p>
            <p>Детаљније можете прочитати у нашем часопису. <a href="~/pdf/IJPNarudzbenica2.pdf"><b>Претплатите се !</b></a></p>
        </article>
    </main>
</div>
