@model IEnumerable<InfoJp.Server.Models.Vesti>

@{
    ViewData["Title"] = "Vesti JP";
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter {
        margin: 0 0 0 1%;
    }
</style>

<div class="bgded overlay" style="background-image:url('../.././images/demo/backgrounds/VestiSlika.jpg'); ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">АРХИВА ВЕСТИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<main>

    <div class="wrapper row3">
        <section class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <p class="nospace font-xs">Најактуелније</p>
                <h6 class="heading font-x2">Вести</h6>
            </div>
            <ul id="latest" class="nospace group">
                @foreach(Vesti vest in Model)
                {

                    <article class="w3-third w3-container">
                        <a class="imgover" href="~/vest/@vest.Id"><img src="~/images/demo/vestiSlike/@vest.Slika" alt="@vest.Naslov"></a>
                        <ul class="nospace meta clear">
                            <li><i class="fas fa-user"></i> <a href="Vest.html">Особа</a></li>
                            <li><i class="fas fa-comments"></i> <a href="Vest.html">Коментари</a></li>
                        </ul>
                        <div class="excerpt">
                            <time datetime="@vest.Datum">@vest.Datum</time>
                            <p class="heading"><a href="~/vest1">@vest.Naslov</a></p>
                        </div>
                    </article>
                 }



            </ul>
            <!-- ################################################################################################ -->


        </section>
    </div>


</main>
