<style>
    .pb-3 {
        background-color: aliceblue;
    }
    .center {
        display: inline-block;
        position:center;
    }
</style>

<div class="bgded overlay" style="background-color: #560909c2 ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ВЕБИНАРИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<br />
<br />
<section id="services" class="hoc container clear">
    <img src="~/images/demo/Vebinari/aktuelniVebinari.png" alt="Aktuelni vebinari" style="position:center;"><br />
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-197550" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica1803.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-197546" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2203.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-197554" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica3103.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <br />
    <br />
    <br />
    <img src="~/images/demo/Vebinari/odrzaniVebinari.png" alt="Odrzani vebinari" style="position:center;"><br />
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194718" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica08.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194730" style="display: inline-block;margin-left:5%; margin-top: 5%"><img src="~/images/demo/Vebinari/Kartica1511.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194746" style="display: inline-block; margin-left: 5%; margin-top: 5%"><img src="~/images/demo/Vebinari/Kartica1711.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195090" style="display:inline-block;margin-left:5%;margin-top:5%"><img class="center" src="~/images/demo/Vebinari/Kartica1811.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194734" style="display: inline-block; margin-left: 5%; margin-top: 5%"><img src="~/images/demo/Vebinari/Kartica2311.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195562" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica0112.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195370" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica0612.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195574" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica0712.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195458" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica1312.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195566" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica1612.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195410" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica1712.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195414" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2712.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-196134" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica1101.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-196130" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2001.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-196138" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2101.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-196142" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2501.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-196962" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2102.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-196966" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2202.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-196970" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2402.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-196974" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica2502.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-197646" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica1603.png" style="margin: 0 25%" alt="Vebinar" /></a>
</section>