<style>
    .pb-3 {
        background-color: aliceblue;
    }
    .center {
        display: inline-block;
        position:center;
    }
</style>

<div class="bgded overlay" style="background-color: #560909c2 ">
    <div id="pageintro" class="hoc clear" style="height: 30%; padding: 70px 0 70px;">
        <!-- ################################################################################################ -->
        <article>
            <h3 class="heading">ВЕБИНАРИ</h3>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<br />
<br />
<section id="services" class="hoc container clear">
    <img src="~/images/demo/Vebinari/aktuelniVebinari.png" alt="Aktuelni vebinari" style="position:center;"><br />

    <img src="~/images/demo/Vebinari/odrzaniVebinari.png" alt="Odrzani vebinari" style="position:center;"><br />
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194718" style="display:inline-block;margin-left:5%;margin-top:5%"><img src="~/images/demo/Vebinari/Kartica08.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194730" style="display: inline-block;margin-left:5%; margin-top: 5%"><img src="~/images/demo/Vebinari/Kartica1511.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194746" style="display: inline-block; margin-left: 5%; margin-top: 5%"><img src="~/images/demo/Vebinari/Kartica1711.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-195090" style="display:inline-block;margin-left:5%;margin-top:5%"><img class="center" src="~/images/demo/Vebinari/Kartica1811.png" style="margin: 0 25%" alt="Vebinar" /></a>
    <a href="https://mailchi.mp/obrazovni.rs/poziv-na-vebinar-rad-van-radnog-odnosa-u-js-pravni-i-poreski-aspekt-194734" style="display: inline-block; margin-left: 5%; margin-top: 5%"><img src="~/images/demo/Vebinari/Kartica2311.png" style="margin: 0 25%" alt="Vebinar" /></a>
</section>